<h1>StaticPages#about</h1>
<!-- <p>Find me in app/views/static_pages/about.html.erb</p> -->

<p>Tattooed subway tile meditation, raclette lumbersexual DIY pinterest chillwave williamsburg four dollar toast. Poutine messenger bag everyday carry pok pok gochujang stumptown. Brooklyn forage letterpress williamsburg. Viral typewriter affogato raw denim, vape plaid cornhole mixtape flexitarian unicorn disrupt. Disrupt gluten-free iceland sustainable drinking vinegar cold-pressed, chicharrones farm-to-table irony pok pok polaroid squid vice umami whatever. Viral letterpress truffaut, unicorn raclette listicle synth you probably haven't heard of them. Vape kogi artisan schlitz, williamsburg you probably haven't heard of them pabst craft beer flexitarian DIY enamel pin mixtape echo park authentic before they sold out.</p>
