<h1>StaticPages#index</h1>
<!-- <p>Welcome! The date and time is <%= Time.now %></p>
<% test_variable = 42 %>
<%= test_variable %>
<%= test_variable - 2 %> -->
<!-- <p>Find me in app/views/static_pages/index.html.erb</p> -->

<h1>Welcome to K-osmetics</h1>
<h2>Your source for the finest hand-picked asian cosmetic products.</h2>
