<div class="jumbotron jumbotron-fluid">
	<div class="container text-xs-center">
		<h1 class="display">Welcome to K-osmetics</h1>
		<p class="lead">Your source for the finest hand-picked asian cosmetic products</p>
		<p class="lead">
			<%= link_to "Shop Now", products_path, class: "btn btn-default btn-lg" %>
		</p>
	</div>
</div>