<table>
	<tbody>
		<tr>
			<p>
				Thank you for your order with Korean Cosmetics. Your order details are:
			</p>
		</tr>
		<tr>
			<p><%= @brand %>,</p>
		</tr>
		<tr>
			<p><%= @product.name %></p><br>
		</tr>
		<tr>
			<p>Price: <b>$<%= @product.price %></b></p><br>
		</tr>
	</tbody>
</table>