<table>
	<tbody>
		<tr>
			<td><h2>Welcome!</h2></td>
		</tr>
			<td><p>Thank you for signing up with <%= @appname %>!</p></td>
		</tr>
		<tr>
			<td><p><strong>Tour <%= @appname %> Team!</strong></p></td>
		</tr>
	</tbody>
</table>