
<div class="container text-xs-center top-margin-20">
	<h3>Thank you for your order!</h3>
		<p>
			You will receive an email confirmation with your order details
		</p>
		<br>
		<%= link_to 'Continue shopping', products_path, class: 'btn btn-primary btn-lg' %>
</div>