<div class="product-reviews">
	<% @comments.each do |comment| %>
		<div class="row">
			<hr>
			<%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>
			<div class="rated" data-score="<%= comment.rating %>"></div>
			<%= comment.body %>
		</div>
	<% end %>
</div> 